<h2>{{ selected_day.date_str() }}</h2>
<table class="table table-sm">
	<thead>
		<tr>
			<th scope="col">Horário</th>
			<th scope="col">Nome</th>
			<th scope="col">Email</th>
			<th scope="col">Telefone</th>
		</tr>
	</thead>
	<tbody>
		{% for schedule in selected_day.schedules %}
			{% if schedule.available() %}
				<tr class="table-success">
			{% elif schedule.assigned() %}
				<tr class="table-warning">
			{% else %}
				<tr class="table-default">
			{% endif %}
				<td class="p-0">{{ schedule.time_str() }}</td>
				<td class="p-0">{% if schedule.assigned() %} {{ schedule.name }} {% endif %}</td>
				<td class="p-0">{% if schedule.assigned() %} {{ schedule.email }} {% endif %}</td>
				<td class="p-0">{% if schedule.assigned() %} {{ schedule.phone }} {% endif %}</td>
				{% if schedule.available() %}
					<td class="p-0"><button type="button" class="btn btn-sm btn-light" disabled>Habilitar</button></td>
					<td class="p-0"><button type="button" class="btn btn-sm btn-danger"onclick="Sijax.request('remove_schedule', [{{ selected_day.year }}, {{ selected_day.month }}, {{ selected_day.day }}, {{ schedule.hour }}, {{ schedule.minute }}])">Remover</button></td>
				{% elif schedule.assigned() %}
					<td class="p-0"><button type="button" class="btn btn-sm btn-light" disabled>Habilitar</button></td>
					<td class="p-0"><button type="button" class="btn btn-sm btn-danger"onclick="Sijax.request('remove_schedule', [{{ selected_day.year }}, {{ selected_day.month }}, {{ selected_day.day }}, {{ schedule.hour }}, {{ schedule.minute }}])">Remover</button></td>
				{% else %}
					<td class="p-0"><button type="button" class="btn btn-sm btn-success" onclick="Sijax.request('enable_schedule', [{{ selected_day.year }}, {{ selected_day.month }}, {{ selected_day.day }}, {{ schedule.hour }}, {{ schedule.minute }}])">Habilitar</button></td>
					<td class="p-0"><button type="button" class="btn btn-sm btn-light" disabled>Remover</button></td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>