<h2>{{ selected_day.date_str() }}</h2>
<table class="table table-sm">
	<thead>
		<tr>
			<th scope="col">Horário</th>
		</tr>
	</thead>
	<tbody>
		{% for schedule in selected_day.schedules %}
			{% if schedule.is_available() %}
				<tr class="table-success">
			{% elif schedule.is_assigned() %}
				<tr class="table-warning">
			{% else %}
				<tr class="table-default">
			{% endif %}
				<td class="p-0">{{ schedule.time_str() }}</td>
				{% if schedule.is_available() %}
					<td class="p-0"><button type="button" class="btn btn-sm btn-success"onclick="Sijax.request('select_schedule', [{{ selected_day.year }}, {{ selected_day.month }}, {{ selected_day.day }}, {{ schedule.hour }}, {{ schedule.minute }}])">Selecionar</button></td>
				{% else %}					
					<td class="p-0"><button type="button" class="btn btn-sm btn-light" disabled>Selecionar</button></td>
				{% endif %}
			</tr>
		{% endfor %}
	</tbody>
</table>